* {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

.container {
  width: 100vw;
  padding-right: 1.5vw;
  padding-left: 1.2vw;
  margin-right: auto;
  margin-left: auto;
  background-color: red;
  display : flex;
  flex-wrap : nowrap;
  background-color: #454545;
  height : 7vh;
}

.container2 {
  height : 100vh;
  width: 100vw;
  background-color: #ffffff;
}

.container3 {
  height : 50vh;
  background-color: #ffffff;
}

.container4 {
  padding-left: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  resize: none;
  overflow-y: scroll;
  height: 25vh;
  width: 50vw;
  background-color: #ffffff;
  border: 0.1vw solid #454545;
  border-radius: 0.1vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;

  font-family: 'Avenir Next LT Pro Demi';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Demi'), url('AvenirNextLTPro-Demi.woff') format('woff');
}

.gif {
  border-radius: 10vw;
}

#wrapper {
  display: flex;
  justify-content: center;
  margin-left : auto;
  margin-right : auto;
}

#wrap {
  display: flex;
  padding-left : 20vw;
}

.button {
  cursor : pointer;
  background-color: #454545;
  height: 3.5vh;
  width: 9vw;
  padding-left: 2.7vw;
  padding-top: 0.5vw;
}

.button:hover {
  background-color: #ffffff;
}

.gif {
  display :inline-block;
  margin-left: 325px;
  margin-right: 725px;
  width: 250px;
  height: 200px;
  margin-top: 50px;
}

#buttontext {
  font-family: 'Avenir Next LT Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Regular'), url('AvenirNextLTPro-Regular.woff') format('woff');
  color: #ffffff;
  font-size: 1.7vh;
  letter-spacing: 0.2vw;

}


input[type=text], select {
  width: 250%;
  padding: 0.8vw 1vw;
  margin-left : -6.5vw;
  margin-top: 20vh;
  display: inline-block;
  border: 0.1vw solid #454545;
  border-radius: 0.1vw;
  box-sizing: border-box;
}

input[type=submit] {
  cursor : pointer;
  background-color: #454545;
  height: 3.5vh;
  width: 9vw;
  font-family: 'Avenir Next LT Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Regular'), url('AvenirNextLTPro-Regular.woff') format('woff');
  color: #ffffff;
  font-size: 1.7vh;
  letter-spacing: 0.2vw;
  border: none;
  
}

input[type=submit]:hover{
  background-color: #ffffff;
}

#buttontext:hover {
  color: #454545;
}

#judul {
  color : #ffffff;
  letter-spacing: 0.3vw;
  font-size: 3vh;
  padding-top: 0.01vh;
  padding-left : 1.5vw;
  position : absolute;
  font-family: 'Avenir Next LT Pro Demi';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Demi'), url('AvenirNextLTPro-Demi.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT Pro Demi';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Demi'), url('AvenirNextLTPro-Demi.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Regular'), url('AvenirNextLTPro-Regular.woff') format('woff');
}
